/**
 * Created by Artsiom.Klimanski on 12/13/2019.
 */
.cover {
    width: 100%;
    height: 83%;
    background: #EFF2F7;
    display: flow-root;
}

.cardType {
    margin: 15px;
}

.slds-card__header-title {
    text-align: center;
}