@charset "UTF-8";
/* ==================================================
	breadcrumb（パンくず）
================================================== */
#breadcrumb {
  display: none; }

/* ▽ PC-TAB layout ========== */
  @media print, screen and (min-width: 640px) {
    #breadcrumb {
      display: block;
      margin: 10px 0 30px 0;
      text-align: left; } }

/* ========== end △ */
  #breadcrumb li {
    display: inline-block;
    font-size: 12px;
    color: #000; }
    #breadcrumb li::before {
      content: "\f105";
      margin-right: 3px;
      color: #2d2506;
      font-size: 12px;
      font-family: FontAwesome; }
    #breadcrumb li:first-of-type a {
      color: #129026; }
    #breadcrumb li:first-of-type:before {
      content: "\f015";
      color: #129026; }
    #breadcrumb li a {
      text-decoration: none;
      color: #000; }
      #breadcrumb li a:hover {
        text-decoration: underline; }

/* ==================================================
	pagination
================================================== */
.pagination {
  margin-top: 30px; }

/* ▽ PC-TAB layout ========== */
  @media print, screen and (min-width: 640px) {
    .pagination {
      margin-top: 50px; } }

/* ========== end △ */
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination .back {
    text-align: center; }

/* ==================================================
	Global
================================================== */
.main__visual {
  position: relative; }
  .main__visual.sub-page form {
    position: static; }
  .main__visual form {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0; }
    .main__visual form .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.65);
      padding: 15px 10px; }
    .main__visual form input[type="text"] {
      width: 220px;
      margin-right: 20px; }

.main__content {
  margin-bottom: 100px; }

/* ▽ TAB layout ========== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__visual form {
    position: static; }
    .main__visual form .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .main__visual form input[type="text"] {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%;
      margin-right: 0;
      margin-bottom: 20px; }
    .main__visual form .select-c {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%; }
    .main__visual form [type="submit"] {
      height: 50px;
      margin: auto;
      margin-top: 20px; } }

/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
  .main__visual form {
    position: static; }
    .main__visual form .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .main__visual form input[type="text"] {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 20px; }
    .main__visual form .select-c {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 49%;
              flex: 0 0 49%; }
    .main__visual form [type="submit"] {
      height: 50px;
      margin: auto;
      margin-top: 20px;
      width: 100%; } }

/* ▽ EDIT 23/05/2018 ========== */
.main__visual form .input {
  flex: 1 1 100%;
  padding-right: 20px;
}
.main__visual form .p {
  display: flex;
}
.main__visual form .p ~ .p {
  margin-top: 20px;
}
.main__visual form .p [type="text"], .main__visual form .p .select-c {
  flex: 1 1 100%;
  margin-right: 20px;
}
.main__visual form [type="submit"], .main__visual form [type="button"] {
  flex: 0 0 auto;
}
@media only screen and (max-width: 767px) {
  .main__visual form .input {
    padding-right: 0;
  }
  .main__visual form .p {
    flex-wrap: wrap;
  }
  .main__visual form .p [type="text"]:last-child, .main__visual form .p .select-c:last-child {
    margin-right: 0;
  }
  .main__visual form [type="text"] {
    width: 50%;
   
  }
}

@media only screen and (max-width: 600px) {
  .main__visual form .p {
    justify-content: space-between;
  }
  .main__visual form .p .select-c, .main__visual form .p [type="text"] {
    width: 48%;
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
/* ========== end △ */
.page-login {
  background: url(../images/slide01.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'HelveticaNeue','Arial', sans-serif;
  width: 100%;
  height: 100vh; }
  .page-login a {
    text-decoration: none; }

.page__title {
  position: relative; }
  .page__title h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #23b3d2; }
  .page__title a {
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
    background-color: #23b3d2;
    border: 1px solid #23b3d2;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 105px;
    height: 45px;
    font-weight: bold;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .page__title a.back {
      position: absolute;
      left: 0;
      top: 0;
      width: 200px; }
      .page__title a.back:hover {
        background-color: #fff;
        color: #23b3d2; }
      .page__title a.back:before {
        font-family: FontAwesome;
        content: "\f104";
        margin-right: 10px; }

/* ▽ SP layout ========== */
  @media only screen and (max-width: 767px) {
    .page__title h2 {
      margin-top: 15px;
      margin-bottom: 15px; }
    .page__title a.back {
      position: relative;
      margin-top: 20px; } }

/* ========== end △ */
.page-list .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }
  .page-list .head .info {
    background-color: #c7ecff;
    border: 1px solid #3db5d0;
    padding: 10px 13px;
    border-radius: 3px; }
    .page-list .head .info p span {
      font-weight: bold;
      margin-right: 5px; }
  .page-list .head .apply a {
    color: #23b3d2;
    border-radius: 3px;
    border: 1px solid #23b3d2;
    padding: 15px 25px;
    font-size: 15px;
    text-decoration: none;
    display: block; }
    .page-list .head .apply a:hover {
      background-color: #23b3d2;
      color: #fff; }

.page-list .body {
  background: url(../images/bg_list.jpg) repeat left center;
  border: 1px solid #e0e0e0;
  padding: 20px 15px; }
  .page-list .body .items + .items {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 30px; }
  .page-list .body .items h3 {
    font-size: 16px;
    color: #505050;
    margin-bottom: 10px; }
  .page-list .body .items figure {
    float: left;
    margin-right: 20px; }
    .page-list .body .items figure:hover {
      opacity: 0.7; }
    .page-list .body .items figure a {
      position: relative;
      display: block; }
      .page-list .body .items figure a:after {
        background: url(../images/icon_zoom.png) repeat left center;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 37px;
        height: 37px; }
  .page-list .body .items .content {
    overflow: hidden; }
  .page-list .body .items .amount {
    margin-bottom: 20px; }
    .page-list .body .items .amount > span {
      font-size: 16px; }
    .page-list .body .items .amount .price {
      line-height: 1.3; }
      .page-list .body .items .amount .price span {
        font-size: 28px;
        margin-right: 10px; }
    .page-list .body .items .amount .total {
      font-weight: bold; }
  .page-list .body .items .meta {
    overflow: hidden;
    height: 65px; }
    .page-list .body .items .meta li {
      background: url(../images/line.jpg) no-repeat left 12px;
      padding-left: 20px;
      font-size: 16px;
      margin-bottom: 5px; }
  .page-list .body .items .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
    .page-list .body .items .more a {
      border: 1px solid #77cee1;
      background-color: #fff;
      display: block;
      color: #23b3d2;
      text-decoration: none;
      padding: 10px 30px;
      margin-right: 10px; }
      .page-list .body .items .more a:hover {
        background-color: #23b3d2;
        color: #fff; }
    .page-list .body .items .more [type="submit"] {
      -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
      background-color: #23b3d2;
      border: 1px solid #23b3d2;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      padding: 0 40px;
      font-weight: bold; }
      .page-list .body .items .more [type="submit"]:hover {
        background-color: #fff;
        color: #23b3d2; }

/* ▽ TAB layout ========== */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-list .body .items .more a {
      padding-left: 20px;
      padding-right: 20px; } }

/* ========== end △ */
.page-list .foot {
  margin-top: 20px; }
  .page-list .foot .pagging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .page-list .foot .pagging a, .page-list .foot .pagging span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40px;
      height: 40px;
      text-decoration: none;
      background-color: #f4f5f6;
      color: #4c4c4c;
      margin-left: 10px; }
      .page-list .foot .pagging a:hover, .page-list .foot .pagging a.active, .page-list .foot .pagging span:hover, .page-list .foot .pagging span.active {
        background-color: #23b3d2;
        color: #fff; }

/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
  .page-list .head {
    margin-bottom: 15px;
    display: block; }
    .page-list .head .info {
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 10px; }
    .page-list .head .apply a {
      text-align: center; }
  .page-list .body .items figure {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0; }
  .page-list .body .items .more {
    display: block; }
    .page-list .body .items .more a {
      padding: 5px 10px;
      margin-right: 0;
      margin-bottom: 10px; }
    .page-list .body .items .more [type="submit"] {
      width: 100%;
      padding: 7px 10px; } }

/* ========== end △ */
.page-checkout .head .content {
  background: #c7ecff;
  border: 1px solid #3db5d0;
  padding: 10px 13px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-bottom: 40px;
  display: none; }
  .page-checkout .head .content.active {
    display: inline-block; }
  .page-checkout .head .content p span {
    font-weight: bold;
    margin-right: 5px; }
    .page-checkout .head .content p span + span {
      margin-left: 20px; }
  .page-checkout .head .content:after, .page-checkout .head .content:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .page-checkout .head .content:after {
    border-color: rgba(199, 236, 255, 0);
    border-top-color: #c7ecff;
    border-width: 10px;
    margin-left: -10px; }
  .page-checkout .head .content:before {
    border-color: rgba(199, 236, 255, 0);
    border-top-color: #3db5d0;
    border-width: 11px;
    margin-left: -11px; }

.page-checkout .head .number {
  background-color: #e7e7e7;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-checkout .head .number span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 8px solid #23b3d2;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
    color: #2a899e;
    font-size: 22px;
    font-weight: bold; }

.page-checkout .head .line {
  background-color: #23b3d2;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 25px;
  position: relative; }
  .page-checkout .head .line:after, .page-checkout .head .line::before {
    bottom: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .page-checkout .head .line::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .page-checkout .head .line::before {
    border-color: rgba(35, 179, 210, 0);
    border-bottom-color: #23b3d2;
    border-width: 11px;
    margin-left: -11px; }

.page-checkout .head .step01 .content:after, .page-checkout .head .step01 .content:before {
  left: 25px; }

.page-checkout .head .step01 ~ .line:after, .page-checkout .head .step01 ~ .line:before {
  left: 25px; }

.page-checkout .head .step02 .content {
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }
  .page-checkout .head .step02 .content:after, .page-checkout .head .step02 .content:before {
    left: 50%; }

.page-checkout .head .step02 ~ .line:after, .page-checkout .head .step02 ~ .line:before {
  left: 50%; }

.page-checkout .head .step03 .al {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.page-checkout .head .step03 .content:after, .page-checkout .head .step03 .content:before {
  right: 13px; }

.page-checkout .head .step03 ~ .line:after, .page-checkout .head .step03 ~ .line:before {
  right: 13px; }

.page-checkout .body .content {
  display: none; }
  .page-checkout .body .content.active {
    display: block; }

.page-checkout .body h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0b0b0b;
  font-weight: normal;
  text-align: center; }

.page-checkout .body form .inner {
  background: url(../images/bg_list.jpg) repeat left center;
  border: 1px solid #e0e0e0;
  margin-bottom: 40px; }

.page-checkout .body form h4 {
  font-size: 16px; }

.page-checkout .body form .block {
  padding: 30px 45px 0 45px; }
  .page-checkout .body form .block + .block {
    border-top: 1px solid #bcbdbe; }

.page-checkout .body form input[type="text"], .page-checkout .body form input[type="password"], .page-checkout .body form input[type="email"] {
  height: 45px;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.page-checkout .body form textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto; }
  .page-checkout .body form textarea.auto {
    width: 100%; }

.page-checkout .body form select {
  width: 100%;
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px rgba(0, 0, 0, 0.16);
  background: #fff url(../images/bg_select.jpg) no-repeat right top;
  height: auto; }
  .page-checkout .body form select.sm {
    width: 48%; }

.page-checkout .body form dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .page-checkout .body form dl.dblock {
    display: block;
    width: 100%; }
    .page-checkout .body form dl.dblock dt {
      margin-bottom: 15px; }
  .page-checkout .body form dl dt {
    background-color: #23b3d2;
    color: #fff;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 145px;
            flex: 0 0 145px;
    width: 145px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase; }
  .page-checkout .body form dl dd {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px; }
    .page-checkout .body form dl dd.center {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .page-checkout .body form dl dd .input-radio {
      margin-left: 20px; }
    .page-checkout .body form dl dd .hold {
      padding-left: 20px;
      padding-right: 20px; }

.page-checkout .body form button.next {
  padding: 0;
  width: 160px;
  height: 50px;
  float: right;
  border: 1px solid #23b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-checkout .body form button.next img {
    margin-left: 10px; }

.page-checkout .body form button.back-step {
  padding: 0;
  width: 160px;
  height: 50px;
  float: left;
  border: 1px solid #23b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-checkout .body form button.back-step img {
    margin-right: 10px; }

.page-checkout .body form .sucs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 240px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #23b3d2;
  float: right; }

.page-checkout .body .wrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .page-checkout .body .wrap .col-2 {
    width: 48%; }

.page-checkout .body .bottom {
  margin-top: 10px;
  margin-bottom: 30px; }

.page-checkout .body .data-table {
  overflow-x: auto;
  margin: 13px; }
  .page-checkout .body .data-table table {
    min-width: 970px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff; }
    .page-checkout .body .data-table table th {
      background-color: #e4e4e4;
      padding: 15px; }
    .page-checkout .body .data-table table td {
      border-bottom: 1px solid #ddd;
      padding: 15px; }
      .page-checkout .body .data-table table td .id {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #e8e8e9;
        display: block;
        line-height: 30px;
        text-align: center; }
      .page-checkout .body .data-table table td .lab {
        background-color: #23b3d2;
        border-radius: 20px;
        display: inline-block;
        padding: 3px 10px;
        color: #fff; }
      .page-checkout .body .data-table table td .infor p {
        font-weight: bold; }
        .page-checkout .body .data-table table td .infor p + p {
          margin-top: 10px; }
        .page-checkout .body .data-table table td .infor p span {
          display: inline-block;
          background-color: #e3f5f9;
          padding: 0 5px;
          font-weight: normal;
          margin: 0 3px; }
      .page-checkout .body .data-table table td .price {
        font-weight: bold;
        font-size: 16px; }
      .page-checkout .body .data-table table td .date {
        background-color: #23b3d2;
        display: block;
        text-align: center;
        padding: 3px;
        color: #fff; }
      .page-checkout .body .data-table table td .tool a, .page-checkout .body .data-table table td .tool .btn_action {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #f7f7f7;
        width: 44px;
        height: 36px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        color: #6b6b6b;
        text-decoration: none;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px; }
        .page-checkout .body .data-table table td .tool a:hover, .page-checkout .body .data-table table td .tool .btn_action:hover {
          background-color: #23b3d2;
          color: #fff; }

.page-checkout .body .privacy {
  padding: 13px; }
  .page-checkout .body .info-summary{
     padding: 13px;
  }
  .page-checkout .body .info-summary h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .page-checkout .body .privacy p {
    line-height: 1.7; }
  .page-checkout .body .privacy h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .page-checkout .body .privacy ul {
    margin: 10px 0; }
    .page-checkout .body .privacy ul li {
      list-style: disc;
      margin-left: 50px; }
  .page-checkout .body .privacy a {
    color: #23b3d2; }
  .page-checkout .body .privacy .p {
    margin-bottom: 10px; }

/* ▽ TAB layout ========== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-checkout .body form .block {
    padding: 10px 15px 0 15px; } }

/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
  .page-checkout .body form .block {
    padding: 10px 15px 0 15px; } }

/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
  .page-checkout .body form select {
    height: 45px; }
  .page-checkout .body form textarea {
    width: 100%; }
  .page-checkout .body form dl.break {
    display: block; }
  .page-checkout .body form dl dt {
    font-size: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    width: 130px; }
  .page-checkout .body form dl dd {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .page-checkout .body form dl dd .hold {
      width: 100%;
      padding-left: 0;
      margin: 10px 0; }
  .page-checkout .body .wrap .col-2 {
    width: 100%; } }

/* ========== end △ */
.login {
  position: relative;
  max-width: 500px;
  padding: 30px; }
  .login .bottom a {
    margin-left: 10px; }
  .login .md-close {
    border: none;
    background-color: transparent;
    font-size: 26px;
    font-weight: normal;
    position: absolute;
    right: 5px;
    top: 5px; }
  .login a {
    color: #23b3d2; }
  .login [type="text"], .login [type="password"], .login [type="email"] {
    height: 35px; }
  .login [type="submit"] {
    margin-top: 20px;
    padding: 10px 40px; }

#process-step {
  width: 100%;
}

.gallery {
  float: left;
  margin-right: 20px;
}
.gallery #lightgallery li {
  display: none;
}
.gallery #lightgallery li:first-child {
  display: block;
}